body{
  background: linear-gradient(45deg, #d6effa, #679dd3, #065f8f);
}
.centered-content {
  position: fixed; /* Use 'fixed' to keep the content centered even when scrolling */
  top: 50%; /* Move the top edge of the element down by 50% of the viewport height */
  left: 50%; /* Move the left edge of the element to the horizontal center of the viewport */
  transform: translate(-50%, -50%); /* Center the element both vertically and horizontally */
  text-align: center;
}
.main-heading{
  font-size: 48px;
  color: rgb(12, 24, 51);
  text-align: center;
}
.sub-heading{
  font-size: 18px;
  color: rgb(12, 24, 51);
  margin-bottom: 20px;
}
a{
  text-decoration: none;
  color: rgb(12, 24, 51);
  text-align: center;
  font-size: 18px;
  display: inline-block;
  background-color: azure;
  padding: 18px 40px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-top: 50px;
}
a:hover{
  background-color: #F2A541;
  font: bold;
}

.form-container {
  padding: 20px;
  width: 400px;
  align-items: center;
  margin: 0 auto;
}
.form-input {
  width: 80%;
  align-self: center;
  padding: 5%;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.form-input:focus {
  border-color: #48BEFF;
  box-shadow: 0 0 5px rgba(72, 190, 255, 0.5);
}
.form-button {
  background-color: #48BEFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
}

.form-button:hover {
  background-color:  #F2A541;
}
.form-label {
  font-weight: bold;
  font-size: 20px;
  display: block;
  margin: 5px 0;
}
.error-message {
  color: #f24141;;
  font-size: 20px;
  font-weight: 800;
  padding: 10px;
  max-width: 300px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.result{
  /* font-size: 52px; */
  margin-bottom: 150px;
  font-size: 52px;
  text-align: center;
}
